<!DOCTYPE html>
<html>
  <head>
    <meta http-quiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/common.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= title %>へようこそ!</h2>
    <a href="/">[home page]</a><br/>
    <a href="/pagex" onclick="pagexOnClick(false); return false;">[page X]</a><br/>
    <a href="/page1">[page 1]</a>
    <a href="/page2">[page 2]</a>
    <!--
    <a href="/page1" onclick="page1OnClick(false); return false;">[page 1]</a>
    <a href="/page2" onclick="page2OnClick(false); return false;">[page 2]</a>
    -->
    <br/>
    <input type="button" id="pagexButton" onclick="pagexOnClick(false); return false;" value="pagex"/><br/>
    <input type="button" id="envcButton" onclick="envcOnClick(false); return false;" value="envc"/><br/>
    <div id="result"></div>
    <div id="status"><font color="gray">初期化中...</font></div>
    <div id="debug"></div>
  </body>
</html>
