    <meta http-equiv="Content-Language" content="ja">
    <meta http-quiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <h2>PageX:<%= ' ' + title %></h2>

page X - 1 - ひとつ<br/>
page X - 2 - ふたつ<br/>
page X - 3 - みっつ<br/>

    <h3>req:</h3>
    <pre>
<%= req %>
    </pre>

    <h3>res:</h3>
    <pre>
<%= res %>
    </pre>

    <h3>process:</h3>
    <pre>
<%= proc %>
    </pre>

    <a href="/">[home page]</a><br/>
    <a href="/page1">[page 1]</a>
    <a href="/page2">[page 2]</a>
    <br/>
    ---- END OF PAGEX ----<br/>
