<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style-light.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h6>remoteAddress: <%= remoteAddress %></h6>
    <h6>updated: 2014-11-02 00:11</h6>
  </body>
</html>
